.loginwrapper{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #deedf2;
  
}

.login{
    background-color: #ffffff;
    padding: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;

}
.google{
display: flex;
/* flex-direction: column; */
gap: 20px;

}
.login .google p{
    margin-top: 20px;
    font-size: 27px;
    font-weight: 600;
    color: black !important;
}
.login span{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
    color: rgb(44, 42, 42);
}
.login p{
    font-size: 17px;
    font-weight: 400;
    color: rgb(77, 74, 74);
}
.loginwrapper img{
    height: 70px;
    width: 70px;
    /* margin-bottom: 40px; */
}

.gmail_login{
    background-color:  #0a41a5;
    border: 0;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    outline: 0; 
    cursor: pointer;
    margin-top: 20px;
    border-radius: 40px;
}